---
title: Drew's Bio
layout: base
tab: drew
---

<main class="mx-auto flex flex-col items-center lg:mt-36">
  <img src="/_public/avatar.jpg" alt="profile photo" class="h-48 w-48 rounded-full" />
  <p class="max-w-3xl text-center mt-12">Drew is currently a Software Engineer at Capital One. He graduated from The Ohio
    State University in 2020 with a BS in Computer Science and Engineering. He is enthusiastic about open source software, 
    reading science fiction, and cooking.</p>
</main>