---
title: Drew's Bio
layout: base
tab: drew
---

<main class="mx-auto flex flex-col items-center lg:mt-36">
  <img src="/_public/avatar.jpg" alt="profile photo" class="h-48 w-48 rounded-full" />
  <p class="max-w-3xl text-center mt-12">Drew is currently a Senior Full-Stack Software Engineer at
    <a class="font-bold" href="https://clickhouse.com/">ClickHouse</a>,
    working on <a class="font-bold" href="https://www.hyperdx.io">HyperDX</a>.
    He graduated from The Ohio State University in 2020 with a BS in Computer Science and Engineering and from Georgia
    Institute of Technology in 2023 with an MS in Computer Science.
    He is enthusiastic about open source software, reading science fiction and fantasy, and cooking.
  </p>
</main>