---
title: Pulpdrew
layout: base
tab: pulpdrew
---

<main class="mx-auto flex flex-col items-center space-y-10 md:mt-36">
  <img src="/_public/avatar.jpg" alt="profile photo" class="h-48 w-48 rounded-full" />
  <p class="max-w-3xl text-center">Andrew is a graduating senior studying Computer Science and Engineering at The Ohio
    State University. He is enthusiastic about open source software, reading science fiction, and cooking.</p>
</main>