---
layout: base
tab: maps
title: Maps
---

<div class="maps mx-1 w-full lg:mx-auto lg:w-8/12 lg:mt-10 ">
    
    <h2 class="text-xl mb-2 text-center">A collection of some maps.</h2>
    <p class="font-thin mb-8 text-center">So you can, uh, find things I guess.</p>
  
    {%- for map in collections.maps -%}
        {{ map.templateContent | safe }}
        <a href="{{map.fileSlug}}" class="text-blue-800 text-sm">View</a>
    {%- endfor -%}

</div>